@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;500;600;700&display=swap");
body {
  margin: 0px auto;
  font-family: "Istok Web";
  position: relative;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #000;

  
}

.top_side {
  margin: 60px 65px;;
}

.top_top {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.top_side_name {
  width: 310px;
  font-size: 41px;
  font-style: normal;
  font-weight: 700;
  line-height: 99%;
  letter-spacing: -0.41px;
  background: linear-gradient(
    85deg,
    #1f39bf -6.64%,
    #777dff 83.22%,
    #000 83.22%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  column-count: 2;
}

.top_photo_bottom_info{
  display: flex;
  margin-top: 100px;
  margin-bottom: 150px;
  gap: 500px;
  align-items: center;;
}


.top_side_photo {
  width: 460px;
  height: auto;
  
}

.top_side_info {
  width: 600px;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -0.4px;
  text-align: left;

}

.top_side_bottom {
  margin-left: 32px;
  margin-top: 41px;
  text-align: center;
  justify-content: center;
  height: 78px;
  width: 270px ;
  align-items: center; 
  display: flex;
  border-radius: 15px;
  background: linear-gradient(261deg, #8e58ff -13.62%, #1f39bf 98.68%);
  border: none;
}

.top_side_bottom a {
  font-size: 35px;
  color: #fff;
  font-weight: 500;
}

.middle {
  
  background: linear-gradient(77deg, #1f39bf -4.21%, #171c98 98.52%);
}

h2 {
  color: #fff;
  text-align: center;
  font-family: "Istok Web";
  font-size: 128px;
  font-weight: 700;
  letter-spacing: -10.5px;
}

.middle_h2 {
  color: #777dff;
  /* height: 15vh */
  margin-top: -226px;
  
}

.middle_info {
  color: #fff;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.5px;
  width: 60%;
  margin: 0 20%;
  
}

.btnbackup {
  width: 60px;
  border: none;
  background-color: #ffffff;
  
  
}

.btnbackup a {
  color: #777dff;
  font-weight: 700;
}

.port {
margin-top: 220px;
}

.pictures{
  display: flex;
  justify-content: center;
}

.bnt_port {
  border: none;
  background-color: #fff;
  justify-content: center;
  width: 23%;
  
}

.bnt_port img {
  margin-left: 50px;
  display: flex;
  width: 300px;
  height: auto;
}

.pictures_info {
  margin-top: 105px;
  width: 100%;
  height: 130px;
  gap: 60px;
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.5px;
}

.pictures_text {
  width: 20%;
}


.contacts h2 {
  margin-top: 250px;
  color: #000;
  font-size: 40px;
  letter-spacing: normal;
  display: flex;
  justify-content:center;
}

.btnbackup2 a {
  color: #ffffff;
  background-color: #000000;
}

.contacts img {
  width: 50px;
  height: auto;
  
}

.foot {
  height: 30px;
  background: #fff;
}
